body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #161625;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: inherit;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

td:nth-child(1) {
  background: #212130;
  border-radius: 12px;
  border: 4px solid #161625;
  box-sizing: border-box;
}

th {
  background: #212130 !important;
  border: 4px solid #161625 !important;
  border-radius: 12px !important;
  box-sizing: border-box;
}

.unique-color-dark {
  background-color: #161625 !important;
}

.unique-color {
  background: #212130 !important;
}

table.table-hover tbody tr:hover {
  background-color: #212130 !important;
  color: inherit !important;
  border-radius: 12px;
  border: 4px solid #161625;
  box-sizing: border-box;
}

.fa-search {
  position: absolute;
  top: 25%;
  left: 6%;
}

#tableSearch {
  padding: 5% !important;
  padding-left: 10% !important;
}

.sideNav {
  width: 50px;
  height: 100%;
  position: absolute;
}

.mainContent {
  padding-left: 50px;
}