body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: inherit;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
